body{
  margin:0;
  font-family:'Segoe UI';
  background:#0f172a;
  color:white;
}

/* HEADER */
.topbar{
  text-align:center;
  padding:15px;
  background:linear-gradient(90deg,#0d6efd,#6610f2);
}

/* TITULO CLIENTE */
#tituloCliente{
  text-align:center;
  font-size:18px;
  margin:10px;
  font-weight:bold;
}

/* GRID */
#productos{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:12px;
  padding:10px;
}

@media(min-width:768px){
  #productos{ grid-template-columns: repeat(3,1fr);}
}

/* CARD */
.card{
  background:linear-gradient(135deg,#0d6efd,#6610f2);
  border-radius:15px;
  padding:10px;
}

.card img{
  width:100%;
  height:150px;
  object-fit:contain;
  background:white;
  border-radius:10px;
}

/* TEXTO */
.nombre{
  margin-top:5px;
  font-weight:bold;
}

/* PRECIOS */
.precio-old{
  text-decoration:line-through;
  opacity:0.6;
  font-size:12px;
}

.precio{
  background:white;
  color:black;
  display:inline-block;
  padding:4px 8px;
  border-radius:10px;
  font-weight:bold;
  margin-top:5px;
}

/* TOTAL */
#total{
  text-align:center;
  font-size:18px;
  margin:15px;
}
